.Logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 0;
  }
  
  
    .top {
      width: 70px;
      height: 35px;
    }
  
    .bottom{
        width:120px;
        height:34px;
        
    }